
@import "../../scss/animations/_scale";

.ui-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    &.in {
        visibility: visible;

        .ui-modal-container {
            animation: scale-up 0.3s ease-out;
        }
    }

    .ui-modal-container {
        position: relative;
        border-radius: 8px;
        background: #fff;
        z-index: 1001;

        .ui-modal-body {
            padding: 20px;
            font-size: 16px;
            overflow: auto;
        }
    }
}