
@import "../../scss/animations/_fade";

.ui-mask {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    animation: fade-in 0.2s ease-out;
    background: rgba(0, 0, 0, .5);
    display: none;

    &.in {
        display: block;
    }
}