
@import "../../scss/mixin";
@import "../../scss/animations/_fadein";

.ui-mask {
    @include fixed-full();
    @include fadein(0.3s);
    background: rgba(0, 0, 0, .5);
    display: none;

    &.in {
        display: block;
    }
}