@charset "utf-8";

// 使用绝对定位居中
@mixin abs-center( $w:null, $h:null ) {
    position: absolute;
    left: 50%;
    top: 50%;
    
    @if $w {
        width: $w;
        margin-left: -$w/2;
    }
    
    @if $h {
        height: $h;
        margin-top: -$h/2;
    }
}

// 使用fixed定位居中
@mixin fixed-center( $w:null,$h:null ) {
    position: fixed;
    left: 50%;
    top: 50%;
    
    @if $w {
        width: $w;
        margin-left: -$w/2;
    }
    
    @if $h {
        height: $h;
        margin-top: -$h/2;
    }
}

@mixin margin-center( $w:null, $h:null ){
    @if $w != null{
        width: $w;
        margin-left: -$w/2;
    }
    
    @if $h !=null {
        height: $h;
        margin-top: -$h/2;
    }
}

@mixin fixed-full( ) {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

// 使用line-height使文本居中
@mixin v-middle( $h ){
    height: $h;
    line-height: $h;
}